@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
  }
  
.input-group {
  position: relative;
  margin: 10px 0;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
  padding: 0 5px;
  transition: top 0.5s, font-size 0.5s, background-color 0.5s, font-weight 0.5s;
  pointer-events: none;
}

.input-group input,
.input-group textarea {
  width: 330px;
  height: 40px;
  font-size: 16px;
  color: black;
  padding: 10px;
  background: transparent;
  border: 1px solid #e2dfdf;
  border-radius: 5px;
}

.input-group textarea{
  height:140px
}

.input-group input:focus + label,
.input-group textarea:focus + label,
.input-group input:valid + label,
.input-group textarea:valid + label {
  top: 0;
  font-size: 14px;
  background-color: #f8fdfeee;
  font-weight: 700;
}

@media (max-width: 640px) {
  .input-group input,
  .input-group textarea {
    width: 190px;
    height: 40px;
  }

  .input-group textarea{
    height:90px
  }
}